* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: verdana;
  align-content: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.download_link {
  font-size: 16px;
  color: aquamarine;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  text-align: center;
  color: white;
}

h2 p {
  font-size: 21px;
  color: gray;
  text-align: center;
}

footer p {
  text-align: right;
  color: gray;

}

div {
  width: 100%;
  margin: auto;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

video {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
