* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: verdana;
  align-content: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

class download_link p {
  font-size: 16px;
  color: aquamarine;
  text-align: center;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  text-align: center;
  color: white;
}

h2 p {
  font-size: 21px;
  color: gray;
  text-align: center;
}

footer p {
  text-align: right;
  color: gray;

}

div {
  align-content: center;

}
